# thing_space_connectivity_management_api
#
# This file was automatically generated by APIMATIC v2.0
# ( https://apimatic.io ).

module ThingSpaceConnectivityManagementApi
  # AccountRequestsController
  class AccountRequestsController < BaseController
    def initialize(config, http_call_back: nil)
      super(config, http_call_back: http_call_back)
    end

    # Returns the current status of an asynchronous request that was made for a
    # single device.
    # @param [String] aname Required parameter: Account name.
    # @param [String] request_id Required parameter: UUID from synchronous
    # response.
    # @return [AsynchronousRequestResult] response from the API call
    def get_current_asynchronous_request_status(aname,
                                                request_id)
      # Prepare query url.
      _query_builder = config.get_base_uri
      _query_builder << '/v1/accounts/{aname}/requests/{requestId}/status'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'aname' => { 'value' => aname, 'encode' => true },
        'requestId' => { 'value' => request_id, 'encode' => true }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/json'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      OAuth2.apply(config, _request)
      _response = execute_request(_request)

      # Validate response against endpoint and global error codes.
      case _response.status_code
      when 400
        raise ConnectivityManagementResultException.new(
          'Error response.',
          _response
        )
      end
      validate_response(_response)

      # Return appropriate response type.
      decoded = APIHelper.json_deserialize(_response.raw_body)
      AsynchronousRequestResult.from_hash(decoded)
    end
  end
end
