# thing_space_connectivity_management_api
#
# This file was automatically generated by APIMATIC v2.0
# ( https://apimatic.io ).

module ThingSpaceConnectivityManagementApi
  # ServicePlansController
  class ServicePlansController < BaseController
    def initialize(config, http_call_back: nil)
      super(config, http_call_back: http_call_back)
    end

    # Returns a list of all data service plans that are associated with a
    # specified billing account. When you send a request to
    # /devices/actions/activate to activate a line of service you must specify
    # the code for one of the service plans associated with your account.
    # @param [String] aname Required parameter: Account name.
    # @return [List of ServicePlan] response from the API call
    def list_account_service_plans(aname)
      # Prepare query url.
      _query_builder = config.get_base_uri
      _query_builder << '/v1/plans/{aname}'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'aname' => { 'value' => aname, 'encode' => true }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/json'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      OAuth2.apply(config, _request)
      _response = execute_request(_request)

      # Validate response against endpoint and global error codes.
      case _response.status_code
      when 400
        raise ConnectivityManagementResultException.new(
          'Error response.',
          _response
        )
      end
      validate_response(_response)

      # Return appropriate response type.
      decoded = APIHelper.json_deserialize(_response.raw_body)
      decoded.map { |element| ServicePlan.from_hash(element) }
    end
  end
end
